@import "bootstrap/dist/css/bootstrap.min.css";
*{
  margin: 0px;
}
/* header uderstand krna hai */
@media (min-width: 768px) {
  .header {
    font-size: 84px;
    text-align: center;
    font-family: "Iowan Old Style";
    margin-top: 32px;
    margin-bottom: 57px;
  }
  .container{
    width: 940px; 

  }
} 
@media (max-width: 600px) {
  .container{
    width:365px;
    
  }
  .header {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;

  }
} 

.red-logo{
  margin-top: -15px;
}

.line1st{
  border-top: 1px solid black;
}

.line2nd{
  border-top: 1px solid black;
  margin-top: 5px;
}

/* searchbar */
.search-box{
  margin-top: 89px;
  margin-bottom: 89px;
}





/* .search-box{
  margin-top: 89px;
  margin-bottom: 89px;
} */

.search-bar{
  display: flex;
  justify-content: center;
}

.search-img{
  height: 32px;
  width: 32px;
  position: absolute;
  margin-left: -275px;
  margin-top: 15px;

}

.search-button {
  width: 267px;
  height: 60px;
  font-size: 20px;
  border: 1px solid #d1c4c4;
  /* margin-left:20px; */
  padding-left: 45px;

}

.go-button {
  width: 61px;
  height: 60px;
  background-color: #E84848;
  color: white;
  font-size: 20px;
  border: none;
}








.go-button{
  height: 61px;
  width: 61px;
  background-color:#E84848;
  color: white;
  font-size: 20px;
  border: none; 
}

/* box */

/* .container{
  margin-top: 89px;
  margin-bottom: 89px; 
} */

.row{
  justify-content:center;
  align-items: center;
  border:0px solid black;
  }
    
.col-sm-4{
  border:1px solid red;
  height: 408px;
  margin-bottom: 20px;
}



/* footer */
.line3rd{
  border-top: 1px solid black;
  margin-top: 89px;
}
.footer-text{
  text-align: center;
  margin-top: 59px;
  font-family: "Iowan Old Style";
}

.gap-footer{
  margin-top: 57px;
}































