@import "bootstrap/dist/css/bootstrap.min.css";
*{
  margin: 0px;
}
/* header uderstand krna hai */
@media (min-width: 768px) {
  .header {
    font-size: 84px;
    text-align: center;
    font-family: "Iowan Old Style";
    margin-top: 32px;
    margin-bottom: 57px;
  }
  .container{
    width: 940px; 

  }
} 
@media (max-width: 600px) {
  .container{
    width:365px;
    
  }
  .header {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;

  }
} 

.red-logo{
  margin-top: -15px;
}

.line1st{
  border-top: 1px solid black;
}

.line2nd{
  border-top: 1px solid black;
  margin-top: 5px;
}

/* searchbar */

.search-box{
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  margin-top: 89px;
  margin-bottom: 89px;
  position: relative;
  height: 60px;
}

.search-bar{
  
  height: 60px;
  width: 267px;
  
  
}


.search-img{ 
  height: 32px; 
  width: 32px;
  position: absolute;
  margin-left:19px; 
  margin-top: 14px; 
  margin-bottom: 15px;
  
 }

.search-button{
  height:32px;
  width: 310px;
  
  padding: 29px;
  margin-left:9px;
  
}

#search-text{
  margin-top:-39px;
  margin-left:60px;
}

.go-button{
  height: 61px;
  width: 61px;
  background-color:#E84848;
  color: white;
  font-size: 20px;
  border: none; 
}

/* box */

/* .container{
  margin-top: 89px;
  margin-bottom: 89px; 
} */

.row{
  justify-content:center;
  align-items: center;
  border:0px solid black;
  }
    
.col-sm-4{
  border:1px solid red;
  height: 408px;
  margin-bottom: 20px;
}



/* footer */
.line3rd{
  border-top: 1px solid black;
  margin-top: 89px;
}
.footer-text{
  text-align: center;
  margin-top: 59px;
  font-family: "Iowan Old Style";
}

.gap-footer{
  margin-top: 57px;
}


































